Schema-Open-Data-voor-de-Rechtspraak/open-rechtspraak/xsd/ecli.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  targetNamespace="https://e-justice.europa.eu/ecli" xmlns:ecli="https://e-justice.europa.eu/ecli"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:tr="http://tuchtrecht.overheid.nl/"
  xmlns:eu="http://publications.europa.eu/celex/" xmlns:dcterms="http://purl.org/dc/terms/"
  xmlns:bwb="bwb-dl" xmlns:cvdr="http://decentrale.regelgeving.overheid.nl/cvdr/"
  xmlns:rs="http://www.rechtspraak.nl/schema/rechtspraak-1.0" xmlns:psi="http://psi.rechtspraak.nl/"
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:xlink="http://www.w3.org/1999/xlink">
  <xs:attributeGroup name="resourceIdentifier">
    <xs:attribute name="resourceIdentifier" use="required" form="qualified" type="xs:anyURI">
      <xs:annotation>
        <xs:documentation>Verwijzing (hyperlink) naar een publicatie in het ECLI register (Jurisprudentie).</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="resourceIdentifier1">
    <xs:attribute name="resourceIdentifier" use="required" form="qualified" type="xs:anyURI"/>
  </xs:attributeGroup>
  <xs:attribute name="link" type="xs:anyURI"/>
</xs:schema>
